.pokemon-card {
  background-color: yellow;
  border-radius: 10px;
  min-width: 400px;
  padding-bottom: 20px;

  .pokemon-name {
    background-color: orange;
  }

  .pokemon-image {
    max-width: 100%;
    max-height: 100%;
  }

  .resistant-weaknesses-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px 0px 20px;

    .resistant-title,
    .weaknesses-title {
      background-color: orange;
    }

    .weaknesses,
    .resistant {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 0px 20px 0px 20px;
      p {
        margin: 5px;
        text-align: left;
      }
    }
  }

  .attacks-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px 0px 20px;

    .attack-title {
      font-weight: bold;
    }

    .type-damage-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .special-title,
    .fast-title {
      background-color: orange;
    }

    .special,
    .fast {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 0px 20px 0px 20px;
    }

    .special-attack,
    .fast-attack {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      p {
        margin: 5px;
        text-align: left;
      }
    }
  }
}
